<!DOCTYPE html>
<html>

<head>
    <title>
        <%= director.first_name %>
            <%= director.last_name %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= director.first_name %>
            <%= director.last_name %> (Director)
    </h1>
    <%- include('navbar') %>


        <div class="single-actor-page">
        </div>
        <p>DoB: <%= director.birthday %></p>


        Movies: 

        <ul>
            <% director.movies.forEach(function(movie) { %>
                <li>
                    <%= movie.Title %>
                </li>
                <%})%>
        </ul>

        <script>
        </script>

</body>

</html>