<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %> (Movie)
    </h1>
    <%- include('navbar') %>


        <div class="single-movies-page">
        </div>

        <ul>
            <li>Synposis: <%= movie.synopsis %></li>
            <li>Release Year: <%= movie.release_year %></li>
            <li>Genre: <%= movie.genre %></li>
            <li>Director: <%= movie.director_first_name %> <%= movie.director_last_name %></li>
        </ul>

        Cast:
        <% if (movie.cast.some(member => member.First_Name && member.Last_Name)) { %>
            <ul>
                <% movie.cast.forEach(function(member) { %>
                    <% if (member.First_Name && member.Last_Name) { %> <!-- Only show valid cast members -->
                        <li><%= member.First_Name %> <%= member.Last_Name %> as <%= member.Role || 'Unknown' %></li>
                    <% } %>
                <% }); %>
            </ul>
        <% } else { %>
            <p>No cast available</p>
        <% } %>

        <button>Add to this list</button>

        <script>
        </script>

</body>

</html>